@import "header.css";
:root {
  --light-color: #212529;
  --light-second-color: #727475;
  --light-background: #ffffff;
  --light-second-background: #f1f1f1;

  --main-bg-color: var(--light-background);
  --second-bg-color: var(--light-second-background);
  --main-color: var(--light-color);
  --second-color: var(--light-second-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

/**/
.wrapper-slide {
  max-width: 100%;
  height: 500px;
}
.slide-show img {
  width: 100%;
  height: 450px;
}

.slide-show {
  width: 100%;
  height: 500px;
}

.btn-slide span {
  color: var(--second-color);
  font-size: 30px;
  opacity: 0.5;
}

#btn-prev {
  position: absolute;
  top: 40%;
  left: auto;
  z-index: 100;
  cursor: pointer;
}

#btn-next {
  position: absolute;
  top: 40%;
  right: 2%;
  z-index: 100;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}
.products-slide {
  max-width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative;
}

.products-slide h3 {
  width: 210px;
  font-weight: bold;
  color: #ff0040;
  border-bottom: 5px solid #ff0040;
  margin-bottom: 20px;
}

.product {
  margin-top: 10px;
  font-weight: bold;
  color: red;
}

.products-slide section {
  background-color: #ffffff;
}

.box-slide {
  width: 280px;
  height: 350px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 10px 12px #b7b2b2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px 10px;
}
.model {
  height: 180px;
  max-height: 100%;
  max-width: 100%;
}

.readmore {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  opacity: 0;
  transition: 1s;
}

.details {
  text-align: center;
}

#details-1 {
  color: var(--main-color);
}

#details-2 {
  color: red;
}

#details-3 {
  color: red;
  text-decoration-line: line-through;
}
.navbar-brand {
  background-color: var(--main-bg-color);
  border-bottom: 2px solid #ff3366;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.navbar-brand a {
  margin: 0 10px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  text-decoration: none;
  color: var(--second-color);
}
#all {
  border-top: 2px solid#ff3366;
  background-color: var(--second-bg-color);
}

.navbar-brand li:hover {
  background-color: #b7b2b2;
}

.brand-new {
  text-align: center;
  width: 200px;
  background-color: #ff3366;
  font-weight: bold;
}

.brand-new a {
  color: var(--main-bg-color);
}

.sport .brand-new {
  background-color: #00a360;
}

.icons {
  color: var(--main-bg-color);
}

.brand {
  display: none;
}

.sub li a {
  width: 10%;
}

.box-slide:hover {
  cursor: pointer;
}
.box-slide:hover .readmore {
  opacity: 1;
}

.readmore:hover {
  background-color: #ff5d87;
  color: var(--main-bg-color);
}

/*services*/
.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #ffffff;
}

.services-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #eaeaea;
}

.services-wrapper div {
  color: var(--second-color);
  text-align: center;
  width: 50%;
}

.services-wrapper div p {
  padding: 10px;
}

.services-wrapper-icon {
  padding: 20px;
}

.icon img {
  width: 80px;
}

.services-wrapper-icon h4:hover {
  cursor: pointer;
  color: #ff3366;
}

/*introduce*/
footer {
  padding: 10px;
  margin-left: 82px;
  padding-top: 75px;
  max-width: 100%;
  background: #b7b2b2;
  color: var(--main-color);
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 0 0 0;
}

.left .content p {
  text-align: justify;
}

.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0 2px;
}

.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #005797;
  color: var(--main-bg-color);
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
#t {
  background: #00caff;
}
#y {
  background: #cb222a;
}
#g {
  background: #da4735;
}

.left .content .social a span:hover {
  opacity: 0.8;
}

.left .content li a {
  text-decoration: none;
  color: var(--main-color);
}

.right-box h2 {
  font-size: 1.125rem;
}

.input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

/* Extra small devices  (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .nav-links {
    display: none;
  }

  .products-slide {
    height: 360px;
  }
  .wrapper-slide {
    height: 200px;
    margin-left: auto;
    margin-bottom: 30px;
  }
  .slide-show img {
    height: 200px;
    margin: 0;
  }
  .btn-slide span {
    font-size: 20px;
  }
  .box-slide {
    width: 100%;
    height: 250px;
    font-size: 14px;
    margin: auto;
    margin-bottom: 20px;
  }
  .box-slide img {
    height: 120px;
  }

  .navbar-brand li.top-menu {
    display: none;
  }

  .navbar-brand li.brand {
    float: right;
    display: block;
  }
  .grid-container {
    grid-template-columns: 1fr;
    margin-top: 20px;
  }
  .slide:not(:first-child) {
    display: none;
  }
  .main-content {
    display: flex;
    flex-direction: column;
  }
  .logo {
    display: none;
  }
  .input {
    width: 37%;
  }

  .services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .services-wrapper {
    display: flex;
    flex-direction: column;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .logo {
    display: none;
  }
  .nav-links {
    display: none;
  }

  .wrapper-slide {
    height: 300px;
    margin-left: auto;
    margin-bottom: 30px;
  }
  .slide-show img {
    height: 300px;
    margin: 0;
  }
  .btn-slide span {
    font-size: 20px;
  }

  .navbar-brand {
    margin-top: 20px;
  }

  .navbar-brand li.top-menu {
    display: none;
  }

  .navbar-brand li.brand {
    float: right;
    display: block;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .nav-link {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .logo {
    display: block;
  }
  .wrapper-slide {
    height: 300px;
    margin-left: auto;
    margin-bottom: 30px;
  }
  .slide-show img {
    height: 300px;
  }
  .btn-slide span {
    font-size: 30px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .services {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 985px) {
  .nav-links {
    display: block;
  }
  .menu {
    display: none;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .wrapper-slide {
    margin: auto;
    max-width: 900px;
    height: 500px;
    position: relative;
  }
  .slide-show img {
    width: 100%;
    height: 450px;
  }

  .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .navbar-brand li.top-menu {
    display: block;
  }

  .navbar-brand li.brand {
    display: none;
  }
}
